<mat-card fxFlex>
  <mat-card-title>
    Marcas
  </mat-card-title>

  <mat-card-content>
    <div fxLayout="column" fxLayoutALign="space-between">
      <mat-form-field>
        <input matInput [(ngModel)]='marcaVeic' />
        <mat-hint>Marca do Veículo</mat-hint>
      </mat-form-field>
      <div fxLayout="row" fxLayoutALign="end end">
        <button mat-raised-button color="accent" (click)="salvar()">Salvar</button>
        <button mat-raised-button color="warn">Cancelar</button>
      </div>
    </div>

    <mat-list>
      <h3 mat-subheader>Marcas</h3>
      <mat-list-item *ngFor="let marc of marcas">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{ marc.nome }}</h4>
        <button mat-icon-button color="basic" (click)="editar(marc)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="excluir(marc)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
