<ion-header>
  <ion-navbar>
    <ion-title>{{ item?.nome_prod }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label stacked>Nome do Produto</ion-label>
    <ion-input type="text" [(ngModel)]="item.nome_prod"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Quantidade</ion-label>
    <ion-input type="number" [(ngModel)]="item.qtd_prod"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Seu Email</ion-label>
    <ion-input type="email" [(ngModel)]="item.email_cli"></ion-input>
  </ion-item>

  <button ion-button full color="secondary" (click)="salvarItem(item)">Salvar Item</button>
  <button ion-button full color="danger" (click)="deletarItem(item)">Deletar Item</button>

</ion-content>
