<mat-toolbar>
  <mat-toolbar-row>
    ESPA
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <app-marcas></app-marcas>
    <app-veiculos></app-veiculos>
  </div>
</mat-card>
