<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-slides autodisplay="3000" pager>
      <ion-slide *ngFor="let number of [1,2,3,4,5]">
        <img src="http://placehold.it/400x200" alt="">
      </ion-slide>
    </ion-slides>
  </ion-card>
</ion-content>
