<ion-header>
  <ion-navbar style="heigth: 50%">
    <ion-title>
      CRUD1
    </ion-title>

    <button ion-button color="secondary" [navPush]="pushPage" style="margin-left: 300px;">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content> 

  <ion-card style="border-radius: 10px; text-align: center;">
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          Itens Cadastrados
        </ion-list-header>
        <ion-item *ngFor="let item of itemList$ | async" detail-push [navPush]="edit_item" [navParams]="{ item: item }">
          {{ item.nome_prod }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
